force-app/main/default/flows/Send_SMS.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_SMS_via_TextLocal</name>
        <label>Send SMS via TextLocal</label>
        <locationX>365</locationX>
        <locationY>50</locationY>
        <actionName>TextLocal_sendGET__Service</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Send_Results</targetReference>
        </connector>
        <inputParameters>
            <name>apikey</name>
            <value>
                <elementReference>apiKey</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <elementReference>Message_to_be_sent</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>numbers</name>
            <value>
                <elementReference>Specify_one_or_more_numbers</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sender</name>
            <value>
                <elementReference>sender</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>balance</assignToReference>
            <name>Response_balance_200</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>status</assignToReference>
            <name>Response_status_200</name>
        </outputParameters>
    </actionCalls>
    <formulas>
        <name>apiKey</name>
        <dataType>String</dataType>
        <expression>{!$Setup.TextLocal__c.API_Key__c}</expression>
    </formulas>
    <formulas>
        <name>sender</name>
        <dataType>String</dataType>
        <expression>{!$Setup.TextLocal__c.Sender_Name__c}</expression>
    </formulas>
    <interviewLabel>Send SMS {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Send SMS</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Send_Results</name>
        <label>Send Results</label>
        <locationX>530</locationX>
        <locationY>50</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>sendMsgResults</name>
            <fieldText>&lt;p&gt;&lt;i&gt;Status&lt;/i&gt;: {!status}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;i&gt;Remaining Credits&lt;/i&gt;: {!balance}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Send_SMS</name>
        <label>Send SMS</label>
        <locationX>211</locationX>
        <locationY>50</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Send_SMS_via_TextLocal</targetReference>
        </connector>
        <fields>
            <name>Specify_one_or_more_numbers</name>
            <fieldText>Specify one or more numbers:</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Message_to_be_sent</name>
            <fieldText>Message to be sent:</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Send_SMS</startElementReference>
    <status>Active</status>
    <variables>
        <name>balance</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>status</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
